.container {
  width: 1170px;
  margin: 0 auto;
}
.pink {
  color: #fa2a83;
}
// 顶部导航
.nav {
  width: 100%;
  height: 28px;
  background-color: #f1f1f1;
}
.topMessage {
  line-height: 28px;
  color: #666;
  .iconfont {
    font-size: 12px;
    color: #666;
  }
  #area {
    float: left;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    .area {
      display: none;
      position: absolute;
      width: 500px;
      height: 245px;
      background-color: #fff;
      top: 28px;
      left: 0;
      border: 1px solid #ccc;
      z-index: 99;
      .close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 16px;
        background-color: #fa2a83;
        color: #fff;
      }
      p {
        margin: 10px 20px;
      }
      .province {
        display: inline-block;
        width: 60px;
        height: 30px;
        position: relative;
        margin-left: 20px;
        text-align: center;
        font-weight: 700;
        border: 1px solid #ccc;
        ul {
          position: absolute;
          display: block;
          flex-wrap: wrap;
          padding: 0 15px;
          width: 470px;
          font-weight: normal;
          top: 32px;
          left: -20px;
          li {
            float: left;
            width: 36px;
            margin: 5px 10px;
            line-height: 20px;
            padding: 0 4px;
          }
          li:hover {
            cursor: pointer;
            background-color: #fa2a83;
            color: #fff;
          }
        }
      }
    }
  }
  .nav-top {
    float: left;
    height: 28px;
    margin-left: 340px;
    li {
      float: left;
      text-align: center;
      a {
      padding: 0 17px;
      color: #666;
      }
      a:hover {
        color: #fa2a83;
      }
      a:hover b{
        color: #fa2a83;
      }
    }
  }
}
// 头部
header {
  width: 1170px;
  height: 100px;
  line-height: 100px;
  .clear {
    width: 1170px;
    float: left;
  }
  h1 {
    float: left;
    display: block;
    text-indent: -9999px;
  }
  .logo {
    display: inline-block;
  }
  a {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    span {
      color: #666;
      .icon-weipinhui {
        color: #fa2a83;
        margin-right: 4px;
      }
    }
  }
  .search {
    display: inline-block;
    margin-left: 180px;
    vertical-align: middle;
    input {
      float: left;
      width: 350px;
      height: 30px;
      text-indent: 4px;
      outline: none;
      border: 2px solid #fa2a83;
    }
    button {
      float: left;
      width: 50px;
      height: 34px;
      outline: none;
      background-color: #fa2a83;
      border: none;
      .iconfont {
        color: #f1f1f1;
        font-size: 24px;
      }
    }
  }
  .shopbag {
    float: right;
    width: 100px;
    height: 34px;
    margin-top: 37px;
    background-color: #eee;
    text-align: center;
    border: 1px solid #ccc;
    line-height: 34px;
    span {
      display: inline-block;
      width: 26px;
      height: 16px;
      line-height: 16px;
      background-color: #fa2a83; 
      border-radius: 8px;
      color: #f1f1f1;
      margin-left: 6px;
    }
  }
}
// 商品导航
.navlist {
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  span {
    position: relative;
    float: left;
    width: 155px;
    height: 42px;
    line-height: 42px;
    color: #f1f1f1;
    text-align: center;
    font-size: 16px;
    background-color: #fa2a83;
    .nav_2 {
      position: absolute;
      z-index: 99;
      display: none;
      width: 155px;
      height: 360px;
      top: 42px;
      left: 0;
      background-color: #fa2a83;
      li {
        height: 36px;
        line-height: 36px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: #f1f1f1;
          font-size: 14px;
        }
        a:hover {
          background-color: #f1f1f1;
          color: #fa2a83;
        }
      }
    }
  }
  span>a {
    padding-left: 4px;
    color: #f1f1f1;
  }
  span:hover .nav_2 {
    display: block;
  }
  ul {
    float: left;
    height: 42px;
    margin-left: 16px;
    li {
      float: left;
      line-height: 42px;
      text-align: center;
      a {
        font-size: 16px;
        padding: 0 16px;
        color: #666;
      }
    }
    li:hover a {
      color: #fa2a83;
    }
    .navstyle {
      color: #fa2a83;
      font-weight: 600;
    }
  }
}
// 品牌介绍 
.brand {
  height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  .clear {
    width: 100%;
    float: left;
    height: 26px;
    line-height: 26px;
    dl {
      display: inline-block;
      width: 310px;
      height: 26px;
      dt {
        float: left;
        width: 214px;
        font-size: 18px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 20px;
      }
      dd {
        float: left;
        font-size: 14px;
        span {
          font-size: 18px;
          color: #666;
          font-weight: bold;
        }
      }
    }
    a {
      display: block;
      float: right;
      width: 135px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 12px;
      i {
        font-size: 12px;
      }
      i,span {
        color: #fa2a83;
      }
    }
    a:hover,
    a:hover i,
    a:hover span {
      background-color: #fa2a83;
      color: #fff;
    }
  }
}
.select {
  border: 1px solid #ccc;
  border-bottom: 0;
  .selected {
    position: relative;
    display: none;
    min-height: 50px;
    .selectedlist {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      width: 711px;
      padding-bottom: 13px;
      .selected-content {
        min-width: 140px;
        max-width: 250px;
        height: 22px;
        line-height: 22px;
        padding-left: 10px;
        margin: 13px 10px 0 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        b {
          margin-left: 4px;
          color: #fa2a83;
        }
        .del-sle {
          float: right;
          width: 22px;
          height: 22px;
          border: 0;
          outline: none;
        }
        .del-sle:hover {
          cursor: pointer;
          color: #fff;
          background-color: #fa2a83;
        }
      }
    }
    .clear-choice {
      // display: none;
      outline: none;
      position: absolute;
      width: 80px;
      height: 20px;
      border: 1px solid #ccc;
      border-radius: 2px;
      line-height: 18px;
      color: #666;
      padding: 0;
      font-size: 12px;
      background-color: #fff;
      top: 13px;
      right: 15px;
      cursor: pointer;
    }
  }
  .datalist {
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #ccc;
    h3 {
      float: left;
      width: 98px;
      height: 18px;
      padding: 16px 0 16px 20px;
      color: #666;
      font-weight: 400;
    }
    .datalist-content {
      float: left;
      display: flex;
      width: 711px;
      height: 16px;
      padding: 16px 0;
      a {
        display: block;
        color: #333;
        margin-right: 50px;
      }
      a:hover {
        color: #fa2a83;
      }
      .pink {
        color: #fa2a83;
      }
    }
    .mul-choice {
      float: right;
      width: 60px;
      height: 20px;
      border: 1px solid #ccc;
      border-radius: 2px;
      line-height: 18px;
      color: #666;
      padding: 0;
      text-align: left;
      font-size: 12px;
      background-color: #fff;
      margin-right: 15px;
      margin-top: 15px;
      cursor: pointer;
      i {
        font-size: 12px;
        color: #ccc;
        margin: 0 5px;
      }
    }
  }
  .hide-datalist {
    display: none;
  }
}
// 展开/关闭按钮
.command {
  position: relative;
  // width: 100%;
  height: 27px;
  .command-btn {
    cursor: pointer;
    position: absolute;
    width: 118px;
    height: 26px;
    top: -1px;
    left: 525px;
    border: 1px solid #ccc;
    border-top-color: #fff;
    border-radius: 0;
    background-color: #fff;
    font-size: 12px;
    outline: none;
    i {
      font-size: 12px;
    }
  }
  .collapse {
    display: none;
  }
}
// 分页
.devidepages {
  height: 46px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #eee;
  margin-top: 20px;
}
// 商品列表
.goodsbox {
  width: 1190px;
  margin-top: 20px;
  margin-bottom: 60px;
  // overflow: hidden;
  .goodslist {
    display: flex;
    flex-wrap: wrap;
    .goods {
      width: 218px;
      height: 340px;
      border: 1px solid #eee;
      box-sizing: border-box;
      margin-right: 20px;
      margin-bottom: 20px;
      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        img {
          display: block;
          width: 216px;
          // height: 218px;
        }
        .info {
          width: 100%;
          height: 122px;
          padding: 0 12px;
          box-sizing: border-box;
          .goods-price {
            height: 30px;
            padding-bottom: 12px;
            span,h4,.ori-price,.acount {
              display: inline-block;
              vertical-align: bottom;
              text-align: left;
              line-height: 42px;
            }
            span {
              width: 44px;
              height: 18px;
              background-color: #fa2a83;
              color: #fff;
              text-align: center;
              border-radius: 9px;
              line-height: 18px;
              margin-bottom: 12px;
            }
            h4 {
              width: 52px;
              font-size: 20px;
              font-family: arial;
              font-weight: 700;
            }
            .ori-price {
              width: 44px;
              color: #999;
              font-size: 14px;
              font-family: arial;
              b {
                text-decoration: line-through;
              }
            }
            .acount {
              width: 34px;
              color: #999;
              font-size: 14px;
              font-family: arial;
              margin-left: 4px;
            }
          }
          .goods-msg {
            min-height: 36px;
            line-height: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #666;
            margin-bottom: 8px;
          }
        }
      }
    }
    .borders {
      display: none;
      position: absolute;
      width: 240px;
      height: 360px;
      top: -12px;
      left: -12px;
      border: 1px solid #fa2a83;
    }
  }
}
// 底部分页
.footer-wrap {
  height: 46px;
  line-height: 46px;
  text-align: center;
  padding-top: 25px;
  .total-items {
    margin-right: 20px;
  }
  a {
    display: inline-block;
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  a:hover {
    border-color: #f898c2;
    background-color: #faf8f8;
    color: #fa2a83;
  }
  .current {
    color: #fff;
    background-color: #fa2a83;
    border-color: #fa2a83;
  }
}