.container {
    width: 1170px;
    margin: 0 auto;
  }
  .nav {
    width: 100%;
    height: 28px;
    background-color: #f1f1f1;
  }
  .topMessage {
    line-height: 28px;
    color: #666;
    .iconfont {
      font-size: 12px;
      color: #666;
    }
    #area {
      float: left;
      margin-left: 10px;
      .area {
        display: none;
      }
    }
    ul {
      float: left;
      height: 28px;
      margin-left: 340px;
      li {
        float: left;
        text-align: center;
        a {
        padding: 0 17px;
        color: #666;
        }
      }
    }
  }
  header {
    height: 100px;
    line-height: 100px;
    // overflow: hidden;
    h1 {
      display: inline-block;
      text-indent: -9999px;
    }
    a {
      display: inline-block;
      height: 100px;
      span {
        margin-left: 20px;
        color: #666;
        .icon-weipinhui {
          color: #fa2a83;
          margin-right: 4px;
        }
      }
    }
    .search {
      display: inline-block;
      margin-left: 200px;
      overflow: hidden;
      vertical-align: middle;
      input {
        float: left;
        width: 350px;
        height: 30px;
        text-indent: 4px;
        outline: none;
        border: 2px solid #fa2a83;
      }
      button {
        float: left;
        width: 50px;
        height: 34px;
        outline: none;
        background-color: #fa2a83;
        border: none;
        .iconfont {
          color: #f1f1f1;
          font-size: 24px;
        }
      }
    }
    .shopbag {
      float: right;
      width: 100px;
      height: 34px;
      margin-top: 37px;
      background-color: #eee;
      text-align: center;
      border: 1px solid #ccc;
      line-height: 34px;
      span {
        display: inline-block;
        width: 26px;
        height: 16px;
        line-height: 16px;
        background-color: #fa2a83; 
        border-radius: 8px;
        color: #f1f1f1;
        margin-left: 6px;
      }
    }
  }